body {
  background-color: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

.dashboard-container {
  padding-top: 2rem;
}

.dashboard-header {
  background-color: #F9F9F9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body p {
  margin-bottom: 0;
}

.summary-card {
  border-radius: 8px;
  transition: transform 0.2s;
  min-height: 120px;
}

.summary-card:hover {
  transform: translateY(-5px);
}

.chart-container {
  position: relative;
  min-height: 50vh;
  /* width: 100%; */
}

.expense-list-item {
  cursor: pointer;
  transition: background-color 0.2s;
}

.expense-list-item:hover {
  background-color: #f8f9fa;
}

.profit-loss-card {
  border-radius: 8px;
}

.card-header.bg-white {
  font-size: 1.1rem;
  font-weight: 600;
}


/* Income */
.income-card {
  border-left: 5px solid #22c55e;
  background-color: #f0fdf4;
  border-radius: 8px;
}

.income-amount {
  color: #166534;
}

/* Budget */
.budget-card {
  border-left: 5px solid #3b82f6;
  background-color: #eff6ff;
  border-radius: 8px;
}

.budget-amount {
  color: #1e40af;
}

/* Expenses */
.expense-card {
  border-left: 5px solid #f59e0b;
  background-color: #fffbeb;
  border-radius: 8px;
}

.expense-amount {
  color: #b45309;
}

/* Balance (conditional) */

.balance-positive {
  border-left: 5px solid #10b981;
  background: #f0fdfa;
  color: #047857;
  border-radius: 8px;
}

.balance-negative {
  border-left: 5px solid #ef4444;
  background: #fef2f2;
  color: #b91c1c;
  border-radius: 8px;
}

.balance-positive-amount {
  color: #047857;
}

.balance-negative-amount {
  color: #b91c1c;
}


/* For mobile devices, increase the chart height for better readability */
@media (max-width: 991px) {
  .chart-container {
    position: relative;
    min-height: 40vh;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .chart-container {
    position: relative;
    min-height: 40vh;
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .chart-container {
    position: relative;
    min-height: 40vh;
    margin-bottom: 20px;
  }
  .card-dashboard {
    padding: 1rem 0.75rem !important;
  }
  .dashboard-barchart-body {
    padding: 1rem 0rem !important;
  }
}

@media (max-width: 364.98px) {
  .dashboard-header {
    padding: 1rem 0.5rem !important;
  }

  .chart-container {
    position: relative;
    min-height: 40vh;
    margin-bottom: 20px;
  }

  .container-column {
    padding: 0 0.5rem !important;
  }

  .dashboard-card {
    padding: 1rem 0.5rem !important;
  }

  .dashboard-barchart-body {
    padding: 1rem 0rem !important;
  }
}