body {
  background-color: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

.dashboard-container {
  padding-top: 2rem;
}

.dashboard-header {
  background-color: #F9F9F9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body p {
  margin-bottom: 0;
}

.summary-card {
  border-radius: 8px;
  transition: transform 0.2s;
  min-height: 120px;
}

.summary-card:hover {
  transform: translateY(-5px);
}

.chart-container {
  position: relative;
  min-height: 50vh;
  /* width: 100%; */
}

.expense-list-item {
  cursor: pointer;
  transition: background-color 0.2s;
}

.expense-list-item:hover {
  background-color: #f8f9fa;
}

.profit-loss-card {
  border-radius: 8px;
}

.card-header.bg-white {
  font-size: 1.1rem;
  font-weight: 600;
}


/* Income */
.income-card {
  border-left: 5px solid #48bb78;
  background-color: #f0fff4;
  border-radius: 8px;
}

.income-amount {
  color: #2f855a;
}

/* Budget */
.budget-card {
  border-left: 5px solid #4299e1;
  background-color: #ebf8ff;
  border-radius: 8px;
}

.budget-amount {
  color: #2b6cb0;
}

/* Expenses */
.expense-card {
  border-left: 5px solid #ed8936;
  background-color: #fffaf0;
  border-radius: 8px;
}

.expense-amount {
  color: #c05621;
}

/* Balance (conditional) */

.balance-positive {
  border-left: 5px solid #48bb78;
  background: #f0fff4;
  color: #2f855a;
  border-radius: 8px;
}

.balance-negative {
  border-left: 5px solid #f56565;
  background: #fff5f5;
  color: #c53030;
  border-radius: 8px;
}

.balance-positive-amount {
  color: #2f855a;
}

.balance-negative-amount {
  color: #c53030;
}


/* For mobile devices, increase the chart height for better readability */
@media (max-width: 991px) {
  .chart-container {
    position: relative;
    min-height: 40vh;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .chart-container {
    position: relative;
    min-height: 40vh;
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .chart-container {
    position: relative;
    min-height: 40vh;
    margin-bottom: 20px;
  }
  .card-dashboard {
    padding: 1rem 0.75rem !important;
  }
  .dashboard-barchart-body {
    padding: 1rem 0rem !important;
  }
}

@media (max-width: 364.98px) {
  .dashboard-header {
    padding: 1rem 0.5rem !important;
  }

  .chart-container {
    position: relative;
    min-height: 40vh;
    margin-bottom: 20px;
  }

  .container-column {
    padding: 0 0.5rem !important;
  }

  .dashboard-card {
    padding: 1rem 0.5rem !important;
  }

  .dashboard-barchart-body {
    padding: 1rem 0rem !important;
  }
}