.budget-card-header {
  background-color: #e6f7ff;
  color: #495057;
  border-bottom: 1px solid #dee2e6;
  font-weight: 600;
}

.total-budget-card,
.expense-card,
.balance-positive,
.balance-negative {
  border-radius: 10px;
  border: 1px solid #dee2e6;
  transition: all 0.3s ease-in-out;
}

.total-budget-card:hover,
.expense-card:hover,
.balance-positive:hover,
.balance-negative:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1) !important;
}

.total-budget-card {
  background-color: #e6f7ff;
  border-left: 5px solid #1890ff;
}

.expense-card {
  background-color: #fffbe6;
  border-left: 5px solid #faad14;
}

.balance-positive {
  background-color: #f6ffed;
  border-left: 5px solid #52c41a;
}

.balance-negative {
  background-color: #fff1f0;
  border-left: 5px solid #f5222d;
}

.budget-amount,
.expense-amount,
.balance-positive-amount,
.balance-negative-amount {
  font-weight: bold;
}

.budget-amount {
  color: #1890ff;
}

.expense-amount {
  color: #faad14;
}

.balance-positive-amount {
  color: #52c41a;
}

.balance-negative-amount {
  color: #f5222d;
}

.buget-type {
  background-color: #e6f7ff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: bold;
  color: #1890ff;
  border: 1px solid #91d5ff;
}

.recorded-budget-body {
  max-height: 400px;
  overflow-y: auto;
}


.chart-container {
  position: relative;
  height: 350px;
  width: 100%;
}

.budget-monthly-summary {
  max-height: 400px;
  overflow-y: auto;
}

.budget-spending-monitor-body {
  max-height: 600px;
  overflow-y: auto;
}

.less-than-75 {
  border-left: 4px solid #52c41a;
  /* Green for under 75% */
}

.between-75-and-100 {
  border-left: 4px solid #faad14;
  /* Orange for 75-100% */
}

.more-than-100 {
  border-left: 4px solid #f5222d;
  /* Red for over 100% */
}


.total-budget-card-header {
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
}

.total-budget-title {
  font-size: 0.85rem;
  font-weight: 600;
}

.total-budget-card-body {
  padding: 0.75rem;
}

.smaller-font {
  font-size: 0.9rem;
}


.category-budget-card-body {
  padding: 0.5rem;
}


.category-title {
  font-weight: 600;
}

.no-category-budget-card-body {
  padding: 0.5rem;
}

.monthly-budget,
.monthly-expense {
  font-size: 1rem;
  font-weight: 500;
}

.monthly-balance-positive {
  color: #52c41a !important;
  font-weight: 600;
}

.monthly-balance-negative {
  color: #f5222d !important;
  font-weight: 600;
}

.profit-loss-card {
  background-color: #f6ffed;
  border-left: 5px solid #52c41a;
}

.profit-loss-card-loss {
  background-color: #fff1f0;
  border-left: 5px solid #f5222d;
}