<div class="container mt-3 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-10 col-md-10 col-lg-8 col-xl-8 col-xxl-8 container-column">
      <div class="card shadow-sm p-3 p-md-4 budget-card">
        <h2 class="card-title text-center mb-4">
          {{ "BUDGET_TITLE" | translate }}
        </h2>

        <div class="row g-2 d-flex align-items-center mb-3">
          <div class="col-12 col-lg-4">
            <label class="form-label d-block d-lg-none">{{
              "DATE_FILTER" | translate
              }}</label>
            <select class="form-select" [(ngModel)]="selectedDateFilter" (change)="setDateFilter(selectedDateFilter)">
              <option value="currentWeek">
                {{ "CURRENT_WEEK" | translate }}
              </option>
              <option value="last30Days">
                {{ "LAST_30_DAYS" | translate }}
              </option>
              <option value="currentMonth">
                {{ "CURRENT_MONTH" | translate }}
              </option>
              <option value="lastMonth">
                {{ "LAST_MONTH" | translate }}
              </option>
              <option value="lastSixMonths">
                {{ "LAST_SIX_MONTHS" | translate }}
              </option>
              <option value="currentYear">
                {{ "CURRENT_YEAR" | translate }}
              </option>
              <option value="lastYear">{{ "LAST_YEAR" | translate }}</option>
              <option value="custom">{{ "CUSTOM_DATE" | translate }}</option>
            </select>
          </div>

          <ng-container *ngIf="selectedDateFilter === 'custom'">
            <div class="col-6 col-lg-4">
              <label class="form-label d-block d-lg-none">{{
                "START_DATE" | translate
                }}</label>
              <input type="date" class="form-control" [(ngModel)]="startDate" (change)="setDateFilter('custom')" />
            </div>
            <div class="col-6 col-lg-4">
              <label class="form-label d-block d-lg-none">{{
                "END_DATE" | translate
                }}</label>
              <input type="date" class="form-control" [(ngModel)]="endDate" (change)="setDateFilter('custom')" />
            </div>
          </ng-container>
        </div>

        <div class="accordion mb-4" id="budgetFormAccordion"
          *ngIf="userProfile?.accountType === 'personal' || userRole === 'admin'">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingBudget">
              <button class="accordion-button collapsed budget-card-header card-header" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseBudget" aria-expanded="false" aria-controls="collapseBudget">
                {{ "ADD_BUDGET" | translate }}
              </button>
            </h2>
            <div id="collapseBudget" class="accordion-collapse collapse" aria-labelledby="headingBudget"
              data-bs-parent="#budgetFormAccordion">
              <div class="accordion-body">
                <form [formGroup]="budgetForm" (ngSubmit)="onSubmitBudget()">
                  <div class="row">
                    <!-- Budget Type -->
                    <div class="col-md-6 mb-3">
                      <div class="form-floating">
                        <select id="type" formControlName="type" class="form-select"
                          (change)="onBudgetTypeChange(budgetForm.value.type)"
                          [class.is-invalid]="budgetForm.controls['type'].invalid && budgetForm.controls['type'].touched">
                          <option value="monthly">
                            {{ "MONTHLY_BUDGET" | translate }}
                          </option>
                          <option value="yearly">
                            {{ "YEARLY_BUDGET" | translate }}
                          </option>
                        </select>
                        <label for="type">{{ "BUDGET_TYPE" | translate }}</label>
                      </div>
                    </div>

                    <!-- Category -->
                    <div class="col-md-6 mb-3">
                      <div class="form-floating">
                        <select id="category" formControlName="category" class="form-select"
                          [class.is-invalid]="budgetForm.controls['category'].invalid && budgetForm.controls['category'].touched">
                          <option *ngFor="let category of categories$ | async" [value]="category.id">
                            {{ category.name }}
                          </option>
                        </select>
                        <label for="category">{{ "CATEGORY" | translate }}</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <!-- Period (Date) -->
                    <div class="col-md-6 mb-3">
                      <div class="form-floating">
                        <input type="date" id="period" formControlName="period" class="form-control"
                          placeholder="Date"
                          [class.is-invalid]="budgetForm.controls['period'].invalid && budgetForm.controls['period'].touched" />
                        <label for="period">{{ "DATE" | translate }}</label>
                      </div>
                    </div>

                    <!-- Amount -->
                    <div class="col-md-6 mb-3">
                      <div class="input-group form-floating">
                        <span class="input-group-text">{{
                          budgetForm.get("currency")?.value ||
                          userProfile?.currency ||
                          "MMK"
                          }}</span>
                        <div class="form-floating">
                          <input type="number" id="amount" formControlName="amount" class="form-control"
                            step="0.01" placeholder="Amount"
                            [class.is-invalid]="budgetForm.controls['amount'].invalid && budgetForm.controls['amount'].touched" />
                          <label for="amount">{{ "AMOUNT" | translate }}</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Description -->
                  <div class="form-floating mb-3">
                    <textarea id="description" formControlName="description" class="form-control"
                      placeholder="{{ 'BUDGET_DESCRIPTION_PLACEHOLDER' | translate }}"></textarea>
                    <label for="description">{{
                      "DESCRIPTION" | translate
                      }}</label>
                  </div>

                  <!-- Submit Button -->
                  <div class="d-grid d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-info shine-effect text-white"
                      [disabled]="budgetForm.invalid">
                      <fa-icon [icon]="faSave" class="me-2"></fa-icon>
                      {{ "SAVE_BUTTON_LABEL" | translate }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion mb-4" id="recordedBudgetsAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingRecordedBudgets">
              <button class="accordion-button collapsed budget-card-header card-header" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseRecordedBudgets" aria-expanded="false" aria-controls="collapseRecordedBudgets">
                {{ "RECORDED_BUDGETS" | translate }}
              </button>
            </h2>
            <div id="collapseRecordedBudgets" class="accordion-collapse collapse" aria-labelledby="headingRecordedBudgets"
              data-bs-parent="#recordedBudgetsAccordion">
              <div class="accordion-body recorded-budget-body">
                <ng-container *ngIf="filteredBudgets$ | async as budgets; else loadingBudget">
                  <ng-container *ngIf="budgets.length > 0; else noBudgetsTemplate">
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center"
                        *ngFor="let budget of budgets">
                        <div class="d-flex flex-column">
                          <span class="mb-2">
                            <small class="text-muted">
                              {{
                              budget.type === "monthly"
                              ? formatLocalizedDate(budget.period)
                              : budget.period || ""
                              }}
                            </small>
                            <small class="ms-2 buget-type">
                              {{
                              (budget.type === "monthly" ? "MONTHLY" : "YEARLY")
                              | translate
                              }}
                            </small>
                          </span>
                          <span class="recorded-budget fs-5 text-primary mt-2 mb-2">
                            {{
                            formatService.formatAmountWithSymbol(
                            budget.amount,
                            budget.currency
                            )
                            }}
                          </span>
                          <strong *ngIf="budget.category" class="text-muted">
                            {{
                            budget.category === "all"
                            ? ("ALL_CATEGORY" | translate)
                            : budget.category
                            }}
                          </strong>
                          <small *ngIf="budget.description" class="text-muted">
                            {{ budget.description }}
                          </small>
                        </div>
                        <div class="text-end">
                          <fa-icon *ngIf="userProfile?.accountType === 'personal' || userRole === 'admin'"
                            class="btn btn-sm btn-outline-danger" [icon]="faTrash"
                            (click)="confirmDeleteBudget(budget.id)" title="{{ 'DELETE' | translate }}"></fa-icon>
                        </div>
                      </li>
                    </ul>
                  </ng-container>
                  <ng-template #noBudgetsTemplate>
                    <p class="text-muted text-center mb-0">
                      {{ "NO_BUDGETS_FOUND" | translate }}
                    </p>
                  </ng-template>
                </ng-container>
                <ng-template #loadingBudget>
                  <p class="text-muted text-center">
                    {{ "LOADING_DATA" | translate }}
                  </p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card h-100 total-budget-card">
              <div class="card-body pt-1 pb-1">
                <div class="text-center fw-bold p-0">
                  {{ "TOTAL_BUDGETS" | translate }}
                </div>
                <div *ngIf="totalBudgetByCurrency$ | async as totals; else loading">
                  <div class="text-center mt-1 mb-0" *ngIf="
                      totals && (totals | keyvalue).length > 0;
                      else noData
                    ">
                    <div *ngFor="let total of totals | keyvalue">
                      <!-- <span>{{ total.key }}:</span> -->
                      <span class="budget-amount text-center fs-5 mb-0">{{
                        formatService.formatAmountWithSymbol(
                        total.value,
                        total.key
                        )
                        }}</span>
                    </div>
                  </div>
                  <ng-template #noData>
                    <p class="text-muted text-center m-0">
                      {{ "NO_BUDGET_DATA" | translate }}
                    </p>
                  </ng-template>
                </div>
                <ng-template #loading>
                  <p class="text-muted text-center">
                    {{ "LOADING_DATA" | translate }}
                  </p>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card h-100 expense-card">
              <div class="card-body pt-1 pb-1">
                <div class="text-center fw-bold p-0">
                  {{ "TOTAL_EXPENSES" | translate }}
                </div>
                <div *ngIf="
                    totalExpensesByCurrency$ | async as totals;
                    else loading
                  ">
                  <div *ngIf="
                      totals && (totals | keyvalue).length > 0;
                      else noData
                    " class="text-center mt-1 mb-0 p-0">
                    <div *ngFor="let total of totals | keyvalue" class="pb-0">
                      <!-- <span>{{ total.key }}:</span> -->
                      <span class="expense-amount text-center fs-5 mb-0">{{
                        formatService.formatAmountWithSymbol(
                        total.value,
                        total.key
                        )
                        }}</span>
                    </div>
                  </div>
                  <ng-template #noData>
                    <p class="text-muted text-center m-0">
                      {{ "NO_EXPENSE_DATA" | translate }}
                    </p>
                  </ng-template>
                </div>
                <ng-template #loading>
                  <p class="text-muted text-center">
                    {{ "LOADING_DATA" | translate }}
                  </p>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 col-xxl-4">
            <div class="card h-100" [ngClass]="
                getBalanceCardClass(remainingBalanceByCurrency$ | async)
              ">
              <div class="card-body pt-1 pb-1">
                <div class="text-center fw-bold p-0">
                  {{ "REMAINING_BALANCE" | translate }}
                  <!-- <small>{{ "BALANCE_SUFFIX" | translate }}</small> -->
                </div>
                <div *ngIf="
                    remainingBalanceByCurrency$ | async as balances;
                    else loading
                  ">
                  <div *ngIf="
                      balances && (balances | keyvalue).length > 0;
                      else noData
                    " class="text-center mt-1 mb-0">
                    <div *ngFor="let balance of balances | keyvalue">
                      <!-- <span>{{ balance.key }}:</span> -->
                      <span [ngClass]="getBalanceAmountClass(balance.value)" class="fs-5">
                        {{
                        formatService.formatAmountWithSymbol(
                        balance.value,
                        balance.key
                        )
                        }}
                      </span>
                    </div>
                  </div>
                  <ng-template #noData>
                    <p class="text-muted text-center m-0">
                      {{ "NO_BALANCE_DATA" | translate }}
                    </p>
                  </ng-template>
                </div>
                <ng-template #loading>
                  <p class="text-muted text-center">
                    {{ "LOADING_DATA" | translate }}
                  </p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header d-flex justify-content-center align-items-center budget-card-header">
            {{ "BUDGET_COMPARISON" | translate }}
          </div>
          <div class="card-body chart-container">
            <canvas id="budgetChart"></canvas>
          </div>
        </div>

        <!-- Add this card after the monthly summary section -->
        <div class="card mb-4">
          <div class="card-header d-flex justify-content-center align-items-center budget-card-header">
            {{ "SPENDING_MONITOR" | translate }}
          </div>
          <div class="card-body budget-spending-monitor-body">
            <div *ngIf="
                spendingMonitorData$ | async as monitorData;
                else loadingMonitor
              ">
              <ng-container *ngIf="monitorData.length > 0; else noMonitorData">
                <div *ngFor="let monthData of monitorData" class="mb-4">
                  <h5 class="mb-2">{{ monthData.month }}</h5>

                  <!-- Check if there's no budget but there are expenses -->
                  <ng-container *ngIf="
                      monthData.total.budget === 0 && monthData.total.spent > 0;
                      else hasBudgetTemplate
                    ">
                    <!-- No Budget but has Expenses -->
                    <div class="card mb-2 border border-2 border-secondary-subtle">
                      <div class="card-body text-center">
                        <h6 class="card-title fw-bold">
                          {{ "NO_BUDGET" | translate }}
                        </h6>
                        <div class="d-flex justify-content-center mb-2">
                          <small class="text-muted">
                            {{ "EXPENSE_AMOUNT" | translate }}:
                          </small>
                          <small class="expense-amount ms-1">
                            {{
                            formatService.formatAmountWithSymbol(
                            monthData.total.spent,
                            monthData.currency
                            )
                            }}
                          </small>
                        </div>
                        <small class="text-muted">
                          {{ "SET_BUDGET_MESSAGE" | translate }}
                        </small>
                      </div>
                    </div>
                  </ng-container>

                  <ng-template #hasBudgetTemplate>
                    <!-- Total Budget Card (only show if there's a budget) -->
                    <div *ngIf="monthData.total.budget > 0" class="card mb-2 border border-2" [ngClass]="{
                        'border-success less-than-75':
                          monthData.total.percentage <= 75,
                        'border-warning between-75-and-100':
                          monthData.total.percentage > 75 &&
                          monthData.total.percentage < 100,
                        'border-danger more-than-100':
                          monthData.total.percentage >= 100
                      }">
                      <div
                        class="card-header d-flex justify-content-between align-items-center total-budget-card-header">
                        <small class="total-budget-title">{{
                          "TOTAL_BUDGET" | translate
                          }}</small>
                        <span [ngClass]="{
                              'text-success': monthData.total.percentage <= 75,
                              'text-warning':
                                monthData.total.percentage > 75 &&
                                monthData.total.percentage < 100,
                              'text-danger': monthData.total.percentage >= 100
                            }">
                          <fa-icon [icon]="
                                monthData.total.percentage >= 75
                                  ? faTriangleExclamation
                                  : faCircleCheck
                              "></fa-icon>
                        </span>
                      </div>
                      <div class="card-body total-budget-card-body">


                        <div class="text-end mb-1">
                          <small class="expense-amount">
                            {{
                            formatService.formatAmountWithSymbol(
                            monthData.total.spent,
                            monthData.currency
                            )
                            }}
                          </small>
                          /
                          <small class="budget-amount">
                            {{
                            formatService.formatAmountWithSymbol(
                            monthData.total.budget,
                            monthData.currency
                            )
                            }}
                          </small>
                        </div>

                        <div class="progress mb-1" style="height: 8px">
                          <div class="progress-bar" [ngClass]="{
                              'bg-success': monthData.total.percentage <= 75,
                              'bg-warning':
                                monthData.total.percentage > 75 &&
                                monthData.total.percentage < 100,
                              'bg-danger': monthData.total.percentage >= 100
                            }" [style.width]="
                              (monthData.total.percentage > 100
                                ? 100
                                : monthData.total.percentage) + '%'
                            "></div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                          <small [ngClass]="{
                              'text-success': monthData.total.percentage <= 75,
                              'expense-amount':
                                monthData.total.percentage > 75 &&
                                monthData.total.percentage < 100,
                              'text-danger': monthData.total.percentage >= 100
                            }">
                            {{ formatPercentage(monthData.total.percentage) }}
                          </small>
                          <small [ngClass]="{
                              'text-success': monthData.total.remaining >= 0,
                              'text-danger': monthData.total.remaining < 0
                            }">
                            {{
                            formatService.formatAmountWithSymbol(
                            getMath().abs(monthData.total.remaining),
                            monthData.currency
                            )
                            }}
                            {{
                            monthData.total.remaining >= 0
                            ? ("REMAINING" | translate)
                            : ("OVER" | translate)
                            }}
                          </small>
                        </div>
                      </div>
                    </div>

                    <!-- Category Budgets -->
                    <div *ngIf="monthData.total.budgetType === 'category'">
                      <div *ngFor="let category of monthData.categories">
                        <!-- Check if there's no budget but there are expenses -->
                        <ng-container *ngIf="
                            category.budget === 0 &&
                              category.spent > 0 &&
                              monthData.total.budgetType === 'category';
                            else hasCategoryBudgetTemplate
                          ">
                          <!-- No Budget but it has Expenses -->
                          <div class="card mb-2 border border-2 border-secondary-subtle smaller-font">
                            <div class="card-body text-center no-category-budget-card-body">
                              <h6 class="card-title fw-bold mb-1">
                                {{ category.name }} -
                                {{ "NO_BUDGET" | translate }}
                              </h6>
                              <div class="d-flex justify-content-center m-0">
                                <small class="text-muted">
                                  {{ "EXPENSE_AMOUNT" | translate }}:
                                </small>
                                <small class="expense-amount ms-1">
                                  {{
                                  formatService.formatAmountWithSymbol(
                                  category.spent,
                                  monthData.currency
                                  )
                                  }}
                                </small>
                              </div>
                              <small class="text-muted">
                                {{ "SET_BUDGET_MESSAGE" | translate }}
                              </small>
                            </div>
                          </div>
                        </ng-container>

                        <ng-template #hasCategoryBudgetTemplate>
                          <div class="card mb-1 border border-2 smaller-font" [ngClass]="{
                              'border-success less-than-75':
                                category.percentage <= 75,
                              'border-warning between-75-and-100':
                                category.percentage > 75 &&
                                category.percentage < 100,
                              'border-danger more-than-100':
                                category.percentage >= 100
                            }">
                            <div class="card-body category-budget-card-body">
                              <div class="card-title d-flex justify-content-between align-items-center m-0">
                                <small class="category-title">
                                  {{ category.name }}
                                </small>
                                <small [ngClass]="{
                                    'text-success': category.percentage <= 75,
                                    'text-warning':
                                      category.percentage > 75 &&
                                      category.percentage < 100,
                                    'text-danger': category.percentage >= 100
                                  }">
                                  <fa-icon [icon]="
                                      category.percentage >= 75
                                        ? faTriangleExclamation
                                        : faCircleCheck
                                    "></fa-icon>
                                </small>
                              </div>

                              <div class="text-end mb-1">
                                <small class="expense-amount">
                                  {{
                                  formatService.formatAmountWithSymbol(
                                  category.spent,
                                  monthData.currency
                                  )
                                  }}
                                </small>
                                /
                                <small class="budget-amount">
                                  {{
                                  formatService.formatAmountWithSymbol(
                                  category.budget,
                                  monthData.currency
                                  )
                                  }}
                                </small>
                              </div>

                              <div class="progress mb-1" style="height: 6px">
                                <div class="progress-bar" [ngClass]="{
                                    'bg-success': category.percentage <= 75,
                                    'bg-warning':
                                      category.percentage > 75 &&
                                      category.percentage < 100,
                                    'bg-danger': category.percentage >= 100
                                  }" [style.width]="
                                    (category.percentage > 100
                                      ? 100
                                      : category.percentage) + '%'
                                  "></div>
                              </div>

                              <div class="d-flex justify-content-between align-items-center">
                                <small [ngClass]="{
                                    'text-success': category.percentage <= 75,
                                    'expense-amount':
                                      category.percentage > 75 &&
                                      category.percentage < 100,
                                    'text-danger': category.percentage >= 100
                                  }">
                                  {{ formatPercentage(category.percentage) }}
                                </small>
                                <small [ngClass]="{
                                    'text-success': category.remaining >= 0,
                                    'text-danger': category.remaining < 0
                                  }">
                                  {{
                                  formatService.formatAmountWithSymbol(
                                  getMath().abs(category.remaining),
                                  monthData.currency
                                  )
                                  }}
                                  {{
                                  category.remaining >= 0
                                  ? ("REMAINING" | translate)
                                  : ("OVER" | translate)
                                  }}
                                </small>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </ng-container>

              <ng-template #noMonitorData>
                <p class="text-center text-muted mt-3">
                  {{ "NO_SPENDING_DATA" | translate }}
                </p>
              </ng-template>
            </div>

            <ng-template #loadingMonitor>
              <p class="text-muted text-center">
                {{ "LOADING_DATA" | translate }}
              </p>
            </ng-template>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header d-flex justify-content-between align-items-center budget-card-header">
            {{ "MONTHLY_SUMMARY" | translate }}
          </div>
          <div class="card-body budget-monthly-summary">
            <div *ngIf="monthlySummary$ | async as monthlySummary; else loading">
              <div class="summary-list">
                <div *ngIf="
                    monthlySummary && (monthlySummary | keyvalue).length > 0;
                    else noSummaryTemplate
                  ">
                  <div *ngFor="let monthData of monthlySummary"
                    class="summary-item d-flex justify-content-between border-bottom mb-3">
                    <div class="summary-date d-flex flex-column justify-content-between mb-2">
                      <strong>{{ monthData.month }}</strong>
                      <span *ngFor="let total of monthData.total | keyvalue" class="d-flex flex-column">
                        <small class="text-muted">{{
                          "BUDGET" | translate
                          }}</small>
                        <span *ngIf="
                            monthData.budget &&
                            monthData.budget.currency === total.key
                          " class="budget-amount monthly-budget">
                          {{
                          formatService.formatAmountWithSymbol(
                          monthData.budget.amount,
                          monthData.budget.currency
                          )
                          }}
                        </span>
                      </span>
                    </div>
                    <div class="d-flex justify-content-end flex-column mb-2">
                      <span *ngFor="let total of monthData.total | keyvalue" class="text-end d-flex flex-column mb-2">
                        <small class="text-muted">{{
                          "EXPENSE" | translate
                          }}</small>
                        <span *ngIf="
                            monthData.budget &&
                            monthData.budget.currency === total.key
                          " class="ms-auto expense-amount monthly-expense">
                          {{
                          formatService.formatAmountWithSymbol(
                          total.value,
                          total.key
                          )
                          }}
                        </span>
                      </span>
                      <span *ngIf="monthData.budget" class="text-end d-flex justify-content-end flex-column text-end">
                        <small class="text-muted">{{
                          "BALANCE" | translate
                          }}</small>
                        <span class="ms-auto" [class.text-success]="monthData.budget.balance >= 0"
                          [class.text-danger]="monthData.budget.balance < 0" [ngClass]="
                            monthData.budget.balance >= 0
                              ? 'monthly-balance-positive'
                              : 'monthly-balance-negative'
                          ">
                          {{
                          formatService.formatAmountWithSymbol(
                          monthData.budget.balance,
                          monthData.budget.currency
                          )
                          }}
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #noSummaryTemplate>
              <p class="text-center text-muted mt-3">
                {{ "NO_DATA_FOR_SUMMARY" | translate }}
              </p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-confirmation-modal #deleteConfirmationModal [title]="'CONFIRMATION_TITLE' | translate"
  [message]="'CONFIRM_DELETE_BUDGET' | translate" [confirmButtonText]="'DELETE_BUTTON' | translate"
  [cancelButtonText]="'CANCEL_BUTTON' | translate" messageColor="text-danger" modalType="confirm"
  (confirmed)="onDeleteConfirmed($event)">
</app-confirmation-modal>

<app-confirmation-modal #errorModal [title]="'BUDGET_ERROR_TITLE' | translate" [message]="''"
  [confirmButtonText]="'OK_BUTTON' | translate" messageColor="text-danger" modalType="alert">
</app-confirmation-modal>
