
/* Add a subtle shine effect to valid buttons */
.shine-effect {
    position: relative;
    overflow: hidden;
}

.shine-effect::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, transparent 70%);
    transition: transform 0.5s ease-in-out;
    transform: rotate(45deg);
}

.shine-effect:hover::after {
    transform: rotate(45deg) translate(25%, 25%);
}

.total-incomes {
  margin-bottom: 0.5rem;
}

.chart-container {
  position: relative;
  min-height: 40vh;
  margin-bottom: 20px; 
  /* width: 100%; */
  margin-top: 0.5rem;
  padding: 0;
}


/* For mobile devices, increase the chart height for better readability */
@media (max-width: 767px) {
  .chart-container {
    position: relative;
    min-height: 50vh;
    margin-bottom: 20px;
  }
}
