<div #confirmModal class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button type="button" class="btn-close" (click)="close()"></button>
        </div>
        <div class="modal-body">
          <p [class]="messageColor" [innerHTML]="message"></p>
        </div>
        <div class="modal-footer">
            <button *ngIf="modalType === 'confirm'" type="button" class="btn btn-secondary" (click)="onCancel()">{{ cancelButtonText }}</button>
            <button type="button" class="btn btn-primary" (click)="onConfirm()">{{ confirmButtonText }}</button>
        </div>
      </div>
    </div>
  </div>