<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true" #confirmModal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCancel()"></button>
      </div>
      <div class="modal-body">
        <p [ngClass]="messageColor">{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">{{ cancelButtonText }}</button>
        <button type="button" class="btn btn-danger" (click)="onConfirm()">{{ confirmButtonText }}</button>
      </div>
    </div>
  </div>
</div>