/* Mobile-first adjustments */
.container {
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

/* Smaller font size for buttons on very small screens if needed */
@media (max-width: 575.98px) {
  .list-group-item button {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }
}

/* Ensure icons are consistently sized */
fa-icon {
    width: 1em; /* Ensures consistent width for icons */
    height: 1em; /* Ensures consistent height for icons */
    vertical-align: -0.125em; /* Adjusts vertical alignment for text */
}

/* Define the shine effect animation */
  @keyframes shine {
    0% { box-shadow: 0 0 5px rgba(0, 123, 255, 0.3); } /* Initial subtle glow for info button */
    50% { box-shadow: 0 0 5px rgba(0, 123, 255, 0.5), 0 0 15px rgba(0, 123, 255, 0.5); } /* Brighter glow */
    100% { box-shadow: 0 0 5px rgba(209, 244, 251, 0.3); } /* Return to subtle glow */
  }

  /* Define the shine effect animation for success button */
  @keyframes shine-success {
    0% { box-shadow: 0 0 5px rgba(40, 167, 69, 0.3); } /* Initial subtle glow for success button */
    50% { box-shadow: 0 0 5px rgba(40, 167, 69, 0.35), 0 0 15px rgba(40, 167, 69, 0.5); } /* Brighter glow */
    100% { box-shadow: 0 0 5px rgba(40, 167, 69, 0.3); } /* Return to subtle glow */
  }

  /* Apply the animation to buttons with .shine-effect class */
  .btn.shine-effect {
    animation: shine 1.5s infinite ease-in-out;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }

  /* Override for success button animation */
  .btn.btn-outline-success.shine-effect { /* Changed to btn-outline-success */
    animation: shine-success 1.5s infinite ease-in-out;
  }

  /* Ensure smooth transition when disabled */
  .btn[disabled] {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    animation: none !important; /* Stop animation when disabled */
  }