<nav *ngIf="showNavbar$ | async" class="bg-white shadow-md fixed top-0 left-0 w-full z-10 font-sans">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center py-4">
      
      <div class="flex items-center space-x-4">
        <img src="assets/images/Expense-Tracker-Logo.png" alt="Expense Tracker Logo" class="h-10">
        <a routerLink="/dashboard" routerLinkActive="text-blue-600" [routerLinkActiveOptions]="{ exact: true }" class="text-gray-600 hover:text-blue-600 transition-colors">{{'NAV_DASHBOARD' | translate}}</a>
        <a routerLink="/expenses" routerLinkActive="text-blue-600" class="text-gray-600 hover:text-blue-600 transition-colors">{{'NAV_EXPENSES' | translate}}</a>
        <a routerLink="/income" routerLinkActive="text-blue-600" class="text-gray-600 hover:text-blue-600 transition-colors">{{'NAV_INCOME' | translate}}</a>
        <a routerLink="/budget" routerLinkActive="text-blue-600" class="text-gray-600 hover:text-blue-600 transition-colors">{{'NAV_BUDGET' | translate}}</a>
        <a routerLink="/categories" routerLinkActive="text-blue-600" class="text-gray-600 hover:text-blue-600 transition-colors">{{'NAV_CATEGORIES' | translate}}</a>
      </div>

      <div class="flex items-center space-x-6">
        <ng-container *ngIf="currentUser$ | async as user">
          <a routerLink="/profile" class="text-gray-600 hover:text-blue-600 transition-colors">{{ user.displayName || 'Profile' }}</a>
        </ng-container>

        <button (click)="toggleLanguage()" class="focus:outline-none">
          <img [src]="currentLang === 'en' ? 'assets/flags/mm.png' : 'assets/flags/en.png'" [alt]="currentLang === 'en' ? 'Switch to Myanmar' : 'Switch to English'" class="h-6 w-auto">
        </button>
        
        <button (click)="logout()" class="text-gray-500 hover:text-red-600 focus:outline-none transition-colors">
          <fa-icon [icon]="faRightFromBracket" size="lg"></fa-icon>
        </button>
      </div>

    </div>
  </div>
</nav>

<main class="pt-20">
    <router-outlet></router-outlet>
</main>
