<div class="container mt-3 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 container-column">
      <div class="card shadow-sm p-3 p-md-4 user-profile-card">
        <div
          class="card-header bg-white border-0 d-flex justify-content-between align-items-center"
        >
          <h2 class="card-title mb-0">
            <fa-icon [icon]="faUserCircle"></fa-icon>
            {{ "USER_PROFILE_TITLE" | translate }}
          </h2>
          <div class="language-toggle">
            <button
              class="btn btn-outline-info language-btn"
              [class.active]="selectedLanguage === 'en'"
              (click)="onLanguageChange('en')"
            >
              <img
                src="../../../assets/flags/en.png"
                alt="English Flag"
                class="flag-icon"
              />
              EN
            </button>
            <button
              class="btn btn-outline-info language-btn"
              [class.active]="selectedLanguage === 'my'"
              (click)="onLanguageChange('my')"
            >
              <img
                src="../../../assets/flags/mm.png"
                alt="Myanmar Flag"
                class="flag-icon"
              />
              MY
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="profile-picture-container text-center mb-4">
            <ng-container *ngIf="userPhotoUrl$ | async as photoURL">
              <img
                *ngIf="!imageLoadError"
                [src]="photoURL"
                alt="{{ 'PROFILE_PICTURE_ALT' | translate }}"
                class="profile-picture-img rounded-circle border border-2 border-primary"
                (error)="onImageError()"
              />
            </ng-container>
            <ng-container *ngIf="!(userPhotoUrl$ | async) || imageLoadError">
              <fa-icon
                [icon]="faUserCircle"
                class="default-profile-icon"
              ></fa-icon>
            </ng-container>
          </div>

          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
          <div *ngIf="successMessage" class="alert alert-success" role="alert">
            {{ successMessage }}
          </div>

          <div *ngIf="userDisplayData$ | async as userData">
            <div class="mb-3">
              <label class="form-label font-weight-bold"
                ><strong>{{ "EMAIL_LABEL" | translate }} :</strong></label
              >
              <p class="form-control-plaintext">{{ userData.email }}</p>
            </div>

            <div class="mb-3">
              <label class="form-label font-weight-bold"
                ><strong
                  >{{ "MEMBER_SINCE_LABEL" | translate }} :</strong
                ></label
              >
              <p class="form-control-plaintext">
                {{ formatLocalizedDate(userData.createdAt, "MMM d, yyyy") }}
              </p>
            </div>
          </div>
          <div *ngIf="!(userDisplayData$ | async)">
            <p class="text-center text-muted">
              {{ "LOADING_PROFILE_DATA" | translate }}
            </p>
          </div>

          <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label class="form-label font-weight-bold">
                <strong>{{ "CURRENCY_LABEL" | translate }} :</strong>
              </label>
              <select
                class="form-select"
                formControlName="currency"
                (change)="onSubmit()"
              >
                <option
                  *ngFor="let currency of translatedCurrencies"
                  [value]="currency.code"
                >
                  {{ currency.symbol }} ({{ currency.code }}) -
                  {{ currency.name }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label font-weight-bold">
                <strong>{{ "BUDGET_PERIOD_LABEL" | translate }} :</strong>
              </label>
              <select class="form-select" formControlName="budgetPeriod">
                <option
                  *ngFor="let period of translatedBudgetPeriods"
                  [value]="period.code"
                >
                  {{ period.name }}
                </option>
              </select>
            </div>

            <div
              class="mb-3"
              *ngIf="userProfileForm.get('budgetPeriod')?.value === 'custom'"
            >
              <label class="form-label font-weight-bold d-block">
                <strong>
                  {{ "START_DATE_LABEL" | translate }} -
                  {{ "END_DATE_LABEL" | translate }} :
                </strong>
              </label>

              <div class="row g-1">
                <div class="col-6">
                  <input
                    type="date"
                    class="form-control"
                    formControlName="budgetStartDate"
                    [placeholder]="'START_DATE_LABEL' | translate"
                  />
                </div>
                <div class="col-6">
                  <input
                    type="date"
                    class="form-control"
                    formControlName="budgetEndDate"
                    [placeholder]="'END_DATE_LABEL' | translate"
                  />
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="displayName" class="form-label"
                ><strong
                  >{{ "DISPLAY_NAME_LABEL" | translate }} :</strong
                ></label
              >
              <div class="input-group">
                <input
                  id="displayName"
                  type="text"
                  formControlName="displayName"
                  class="form-control"
                  [class.is-invalid]="
                    userProfileForm.get('displayName')?.invalid &&
                    userProfileForm.get('displayName')?.touched
                  "
                />
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button
                  type="submit"
                  class="btn ps-4 pe-4"
                  [ngClass]="{
                    'btn-outline-info': true,
                    'shine-effect': userProfileForm.valid
                  }"
                  [disabled]="userProfileForm.invalid || !userProfileForm.dirty"
                >
                  <fa-icon [icon]="faSave"></fa-icon>
                </button>
              </div>
              <div
                *ngIf="
                  userProfileForm.get('displayName')?.invalid &&
                  userProfileForm.get('displayName')?.touched
                "
                class="invalid-feedback d-block"
              >
                <span
                  *ngIf="userProfileForm.get('displayName')?.errors?.['maxlength']"
                >
                  {{ "DISPLAY_NAME_MAX_LENGTH_ERROR" | translate }}
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
