.profile-picture-container {
  margin-bottom: 1.5rem;
}

.profile-picture-img {
  width: 25%;
  /* Adjust size as needed */
  height: 25%;
  /* Adjust size as needed */
  object-fit: cover;
  border: 2px solid var(--bs-info);
  /* Example border */
}

.default-profile-icon {
  font-size: 120px;
  /* Adjust size to match image */
  color: #ccc;
  /* A default grey color */
}


/* ... existing CSS */
.language-toggle {
  display: flex;
  gap: 5px;
  /* Adds space between the buttons */
}

.language-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  /* Adds space between the flag and the text */
  background-color: #f1f1f1;
  color: #555;
  border: 1px solid #ddd;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
}

.language-btn.active {
  background-color: transparent;
  color: var(--bs-info);
  border-color: var(--bs-info);
  box-shadow: 0 0 0.5rem rgba(13, 202, 240, 0.5);
}

.language-btn:hover {
  background-color: #e2e2e2;
  color: #333;
}

.language-btn.active:hover {
  background-color: var(--bs-info);
  color: #fff;
}

.flag-icon {
  width: 20px;
  height: auto;
}


/* Apply the animation to buttons with .shine-effect class */
.btn.shine-effect {
  animation: shine 1.5s infinite ease-in-out;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

/* Override for success button animation */
.btn.btn-outline-success.shine-effect {
  /* Changed to btn-outline-success */
  animation: shine-success 1.5s infinite ease-in-out;
}

/* Ensure smooth transition when disabled */
.btn[disabled] {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, box-shadow 0.3s ease;
  animation: none !important;
  /* Stop animation when disabled */
}

/* For mobile view, adjust the layout if necessary */
@media (max-width: 576px) {
  .card-header {
    flex-direction: column;
    text-align: center;
  }

  .language-toggle {
    margin-top: 10px;
    justify-content: center;
    width: 100%;
  }

  .form-control[type="month"] {
    font-size: 0.9rem;
    /* You may also adjust padding slightly to match the smaller font */
    padding: 0.375rem 0.5rem;
  }
}

@media (max-width: 364.98px) {
  .container-column {
    padding: 0 0.5rem !important;
  }

  .user-profile-card {
    padding: 1rem 0.5rem !important;
  }

  .card-body {
    padding: 1rem 0.5rem !important;
  }
}