<div class="container mt-3 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 container-column">
      <div class="card shadow-sm p-3 p-md-4 user-profile-card">
        <div class="card-body ps-0 pe-0">
          <h2 class="card-title text-center mb-4">{{ 'USER_PROFILE_TITLE' | translate }}</h2>
          <ng-container *ngIf="userDisplayData$ | async as userData">
            <!-- <pre>{{ userData | json }}</pre> -->
            <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">

              <!-- Profile Picture -->
              <div class="text-center mb-5">
                <ng-container *ngIf="userPhotoUrl$ | async as photoUrl; else defaultIcon">
                  <img [src]="photoUrl" alt="User Photo" class="profile-photo rounded-circle" (error)="onImageError()"
                    *ngIf="!imageLoadError">
                  <fa-icon [icon]="faUserCircle" size="6x" class="text-secondary" *ngIf="imageLoadError"></fa-icon>
                </ng-container>
                <ng-template #defaultIcon>
                  <fa-icon [icon]="faUserCircle" size="6x" class="text-secondary"></fa-icon>
                </ng-template>
              </div>

              <div
                class="info-container border border-secondary-subtle rounded mb-4 p-2 p-sm-3 p-md-3 p-lg-3 p-xl-3 p-xxl-3">
                <!-- Email -->
                <div class="mb-3">
                  <label class="form-label font-weight-bold mb-0"><strong>{{ 'EMAIL_LABEL' | translate
                      }}</strong></label>
                  <p class="form-control-plaintext m-0 p-0">{{ userData.email }}</p>
                </div>
                <!-- Member Since -->
                <div class="mb-3">
                  <label class="form-label font-weight-bold mb-0"><strong>{{ "MEMBER_SINCE_LABEL" | translate
                      }}</strong></label>
                  <p class="form-control-plaintext m-0 p-0">
                    {{ formatLocalizedDate(userData.createdAt, "MMM d, yyyy") }}
                  </p>
                </div>

                <!-- Account Type -->
                <div class="mb-3">
                  <label class="form-label font-weight-bold mb-0"><strong>{{ 'ACCOUNT_TYPE_LABEL' | translate
                      }}</strong></label>
                  <div>
                    <span *ngIf="userData.accountType === 'personal'" class="badge bg-success">{{
                      'ACCOUNT_TYPE_PERSONAL' | translate }}</span>
                    <span *ngIf="userData.accountType === 'group'" class="badge bg-info">{{ 'ACCOUNT_TYPE_GROUP' |
                      translate }}</span>
                  </div>
                </div>

                <!-- Role -->
                <div class="mb-3" *ngIf="userData.accountType === 'group'">
                  <label class="form-label font-weight-bold mb-0"><strong>{{ "ROLE" | translate
                      }}</strong></label>
                  <p class="form-control-plaintext m-0 p-0">
                    {{ userData.roles }}
                  </p>
                </div>

                <!-- Group Name -->
                <div class="mb-3" *ngIf="userData.accountType === 'group' && userData.groupName">
                  <label class="form-label font-weight-bold mb-0"><strong>{{ 'GROUP_NAME' | translate
                      }}</strong></label>
                  <p class="form-control-plaintext m-0 p-0">
                    {{ userData.groupName }}
                  </p>
                </div>

                <!-- Display Name -->
                <div class="mb-3">
                  <label for="displayName" class="form-label"><strong>{{ 'DISPLAY_NAME_LABEL' | translate
                      }}</strong></label>
                  <input type="text" id="displayName" class="form-control" formControlName="displayName">
                </div>
              </div>

              <!-- Budget Period -->
              <div
                class="info-container border border-secondary-subtle rounded mb-4 p-2 p-sm-3 p-md-3 p-lg-3 p-xl-3 p-xxl-3">
                <div class="mb-2">
                  <label for="budgetPeriod" class="form-label"><strong>{{ 'BUDGET_PERIOD_LABEL' | translate
                      }}</strong></label>
                  <div class="input-group">
                    <select id="budgetPeriod" class="form-select" formControlName="budgetPeriod">
                      <option *ngFor="let period of translatedBudgetPeriods" [value]="period.code">
                        {{ period.name }}
                      </option>
                      <optgroup label="{{ 'BUDGET_PERIOD.CUSTOM' | translate }}" *ngIf="customBudgetPeriods.length > 0">
                        <option *ngFor="let period of customBudgetPeriods" [value]="period.id">
                          {{ period.name }}
                        </option>
                      </optgroup>
                    </select>
                    <button class="btn btn-outline-info" type="button" (click)="openBudgetPeriodModal()">
                      <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                  </div>
                </div>

                <!-- Custom Date Range Display -->
                <div *ngIf="showCustomDateRange" class="row mb-3">
                  <div class="col-6 pe-1 pe-sm-3 pe-md-3 pe-lg-3 pe-xl-3 pe-xxl-3">
                    <label for="budgetStartDate" class="form-label">{{ 'START_DATE_LABEL' | translate }}</label>
                    <input type="date" id="budgetStartDate" class="form-control" formControlName="budgetStartDate">
                  </div>
                  <div class="col-6 ps-1 ps-sm-3 ps-md-3 ps-lg-3 ps-xl-3 ps-xxl-3">
                    <label for="budgetEndDate" class="form-label">{{ 'END_DATE_LABEL' | translate }}</label>
                    <input type="date" id="budgetEndDate" class="form-control" formControlName="budgetEndDate">
                  </div>
                </div>

                <!-- Manage Custom Periods Card -->
                <div class="card mb-2" *ngIf="customBudgetPeriods.length > 0">
                  <div class="card-header" (click)="toggleCustomBudgetList()" style="cursor: pointer;">
                    <h6 class="mb-0 d-flex justify-content-between align-items-center">
                      <span>
                        <fa-icon [icon]="faListUl" class="pe-2"></fa-icon>
                        {{ 'BUDGET_PERIOD.CUSTOM' | translate }}
                      </span>
                      <fa-icon [icon]="isCustomBudgetListCollapsed ? faChevronDown : faChevronUp"></fa-icon>
                    </h6>
                  </div>
                  <div class="card-body" *ngIf="!isCustomBudgetListCollapsed">
                    <ul class="list-group list-group-flush">
                      <li *ngFor="let period of customBudgetPeriods"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                          <span class="d-inline-block text-break w-100">
                            {{ period.name }}
                          </span>
                          <span class="d-inline-block w-100">
                            ({{ formatLocalizedDate(period.startDate, 'shortDate') }} - {{
                            formatLocalizedDate(period.endDate, 'shortDate') }})
                          </span>
                        </span>
                        <button class="btn btn-outline-danger btn-sm ms-3" type="button"
                          (click)="deleteCustomPeriod(period.id, $event)">
                          <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div
                class="info-container border border-secondary-subtle rounded mb-4 p-2 p-sm-3 p-md-3 p-lg-3 p-xl-3 p-xxl-3">
                <!-- Currency Selection -->
                <div class="mb-3">
                  <label for="currency" class="form-label"><strong>{{ 'CURRENCY' | translate }}</strong></label>
                  <select id="currency" class="form-select" formControlName="currency">
                    <option *ngFor="let currency of translatedCurrencies" [value]="currency.code">{{ currency.name }}
                      ({{
                      currency.symbol }})</option>
                  </select>
                </div>

                <!-- Language Selection -->
                <div class="mb-3">
                  <label for="language" class="form-label"><strong>{{ 'SYSTEM_LANGUAGE_LABEL' | translate
                      }}</strong></label>
                  <select id="language" class="form-select" [ngModel]="selectedLanguage"
                    (ngModelChange)="onLanguageChange($event)" [ngModelOptions]="{standalone: true}">
                    <option value="en">English</option>
                    <option value="my">မြန်မာ</option>
                  </select>
                </div>
              </div>

              <!-- Save Button -->
              <div class="sticky-save-button-container">
                <button type="submit" class="profile-save-btn btn ps-4 pe-4" [ngClass]="{
                    'btn-outline-info': true,
                    'shine-effect': userProfileForm.valid && userProfileForm.dirty
                  }" [disabled]="userProfileForm.invalid || !userProfileForm.dirty">
                  <fa-icon [icon]="faSave"></fa-icon>
                </button>
              </div>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<app-custom-budget-period-modal (periodSaved)="onPeriodSaved($event)"></app-custom-budget-period-modal>

<app-confirmation-modal [title]="confirmationTitle" [message]="confirmationMessage"
  [confirmButtonText]="confirmButtonText" [cancelButtonText]="cancelButtonText" (confirmed)="onConfirmation($event)"
  messageColor="text-danger" modalType="confirm">
</app-confirmation-modal>