<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true" #categoryModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel">{{ 'CATEGORY_MODAL_TITLE' | translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="categoryName" class="form-label">{{ 'CATEGORY_NAME_LABEL' | translate }}</label>
            <input
              type="text"
              class="form-control"
              id="categoryName"
              formControlName="name"
              placeholder="{{ 'CATEGORY_NAME_PLACEHOLDER' | translate }}"
              [class.is-invalid]="categoryForm.controls['name'].invalid && categoryForm.controls['name'].touched"
            >
            <div *ngIf="categoryForm.controls['name'].invalid && categoryForm.controls['name'].touched" class="invalid-feedback">
              {{ 'CATEGORY_NAME_REQUIRED' | translate }}
            </div>
          </div>

          </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-info ps-4 pe-4" [ngClass]="{'btn-outline-info': true, 'shine-effect': categoryForm.valid}" [disabled]="categoryForm.invalid" (click)="onSubmit()"><fa-icon [icon]="faSave"></fa-icon></button>
      </div>
    </div>
  </div>
</div>